body {
  background-image:linear-gradient(to left, #A88DE3, #7BDCB6)
}

.App {
  text-align: center;
}

.search {
        width: 100%;
        padding: 12px 24px;
        background-color: transparent;
        font-size: 14px;
        margin-left: 0px;
        border-color:  #A88DE3;

}



.container {
  display: flex;
  justify-content: center;
}

h1, h2, h3, p, ul {
  font-family: 'Aboreto', cursive;
}

ul {
  list-style:  none;
}

.img {
  box-shadow: 5px 5px 5px 0px #fff;
}

.img:hover {
  width: 400px;
}

.calories {
  background-color: transparent;
  padding: 5px;
  border: solid 1px #fff;
  margin-bottom:  8px;
}